@font-face {
    font-family: 'IBM Plex'; 
    src: url('Prompt-Regular.ttf');
    font-style: upright;
    font-weight: 60;
}
:root {
    --pbg: navy;
    --sbg: rgb(0, 0, 108);
    --bbg: rgb(0, 0, 88);
    --text: aliceblue;
    --buttons: 2;
}

body {
    font-family:'IBM Plex';
    background-color: var(--pbg);
    margin: 0;
    color: var(--text);
}


#home {
    font-weight: bold;
    border-bottom: 10px;
    border-radius: 10px;
    color: var(--text);
}

.navbar {
    display: flex;
    height: 64px;
    background-color: var(--sbg);
    border: 10em;
}

.long {
    flex: calc(var(--buttons) * .8);
}

h1 {
    color: var(--text);
    background-color: var(--pbg);
    margin-left: 50px;
}

h2 {
    margin-left: 75px;
}

.button {
    flex: calc(var(--buttons) * .18 *.8);
    text-align: center;
    background: var(--sbg);
    border: 1em;
    border-radius: 1em;
    font-family: 'IBM Plex';
    color: var(--text);
    font-style: normal;
    text-decoration: none;
}

.button:hover {
    background-color: var(--bbg);
}