@font-face {
    font-family: 'IBM Plex'; 
    src: url('Prompt-Regular.ttf');
    font-style: upright;
    font-weight: 60;
}

body {
    background-color: rgb(90, 28, 121);
    color:rgb(233, 233, 233);
    font-family: "IBM Plex";
}

.chat {
    display: flexbox;
    background-color: aqua;
}