@font-face {
    font-family: 'IBM Plex'; 
    src: url('/Prompt-Regular.ttf');
    font-style: upright;
    font-weight: 60;
}

:root {
    --pbg: rgb(37, 16, 65);
}

body {
    font-family: 'IBM Plex';
    background-color: var(--pbg);
}

.log {
    display: flex;
    justify-content:flex-start;
    margin-left: auto;
    list-style-type: none;
    flex-direction: column;
    gap: .5rem;
    width: 50em;
    border: .1rem;
    border-radius: .05rem;
    background-color: rgb(30, 13, 53);
    color: rgb(189, 181, 201);
}


.msg {
    flex: 1;
    background-color: rgb(55, 35, 82);
}