@font-face {
    font-family: 'IBM Plex'; 
    src: url('/Prompt-Regular.ttf');
    font-style: upright;
    font-weight: 60;
}

:root {
    --pbg: rgb(37, 16, 65);
    font-family: 'IBM Plex';
}

body {
    font-family: 'IBM Plex';
}

.log {
    display: flex;
    justify-content:flex-start;
    margin-left: auto;
    list-style-type: none;
    flex-direction: column;
    gap: .5rem;
    float: right;
    border: 5rem;
    background-color: rgb(30, 13, 53);
    color: rgb(189, 181, 201);
    width: -moz-available;
}



.msg {
    flex: 2;
    background-color: rgb(55, 35, 82);
    border-radius: .5rem;
    text-indent: 10px;
    padding-block-start: 2vw;
    padding-block-end: 2vw;
    margin-inline: 3em;
    margin-left: 3em;
}

.prof {
    width: 100px;
	height: 100px;
	border-radius: 50%;
}